# SUPABASE CONFIGURATION
# Dapatkan dari Supabase Project Settings -> API
VITE_SUPABASE_URL=https://xxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5....

# EMAIL REGISTRATION (SMTP)
# Jika menggunakan GMAIL, gunakan 'App Password' bukan password login biasa.
# Buka Akun Google -> Keamanan -> Verifikasi 2 Lanjut -> Sandi Aplikasi (App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=email.anda@gmail.com
SMTP_PASS=password_aplikasi_gmail_anda
