# Supabase Keys
# Isi ini untuk menggunakan cloud database, yang diperlukan jika ingin
# sinkronisasi data secara realtime dan bisa diakses online dari mana saja.
# Dapatkan URL dan Key dari project settings di akun supabase.com Anda.
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

